*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.caja1 {
    background-color: violet;
    height: 5rem;
}
.caja2 {
    background-color: blue;
    height: 3rem;
}
.caja3 {
    background-color: chartreuse;
    height: 20rem;
}
.caja4 {
    background-color: yellow;
    height: 5rem;
}
.caja5 {
    display: flex;
    justify-content: center;
    background-color: yellow;
    height: 30rem;
    margin-right: 10px;
}
.caja6 {
    display: flex;
    justify-content: center;
    background-color: blue;
    height: 30rem;
    margin-left: 5px;
}
.alturaBlanco {
    background-color: white;
    height: 5rem;
}
.caja7 {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
    height: 30rem;
}
.division{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.caja8 {
    display: flex;
    justify-content: center;
    background-color: blue;
    height: 30rem;
    margin-right: 10px;
}
.raya{
    display: flex;
    justify-content: center;
    border: 1px solid gainsboro;
}

/* Comienzo consultas de medios para samsung s8 */

@media (max-width: 767px) {
    .caja5, .caja6 {
      margin-left: 0px;
      margin-right: 0px;
    }
    .caja5{
        background-color: chartreuse;
    }
    .caja6{
        background-color: orange;
    }
    .caja8{
        margin-left: 0px;
        margin-right: 0px;
    }
    .caja7{
        margin-left: 0px;
        margin-right: 0px;
    }
    .division{
        padding-top: 0px;
    }
  }